/* nejsme vcerejsi, pouzivame moderni box model */
*,
:after,
:before {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
  background-image: linear-gradient(#615dad, #ffc8da);
  min-height: 100vh;
  padding-top: 80px;
}

.main {
  width: 350px;
  margin: auto;
  background-color: #283e50;
  border-radius: 10px 10px 0 0;
}

.piskvorky {
  padding: 15px;
}

.pravidla {
  background-color: #1fcca4;
  height: 45px;
  padding: 15px;
  margin-bottom: 1px;
}
.zacit {
  background-color: #0197f6;
  height: 45px;
  padding: 15px;
}

.pravidla:hover {
  background-color: #1cbb96;
}

.zacit:hover {
  background-color: #0090e9;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  margin-top: 10px;
}

a {
  color: #ffffff;
  text-decoration: none;
  display: block;
}

p {
  line-height: 1.5em;
}

img {
  display: block;
  border-radius: 10px 10px 0 0;
  width: 350px;
}
