/* nejsme vcerejsi, pouzivame moderni box model */
*,
:after,
:before {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
  background-image: linear-gradient(#615dad, #ffc8da);
  min-height: 100vh;
  padding-top: 80px;
}

.main {
  width: 350px;
  margin: auto;
  background-color: #283e50;
  border-radius: 10px 10px 0 0;
}

.piskvorky {
  padding: 15px;
}

.pravidla,.uvod {
  background-color: #1fcca4;
  height: 45px;
  padding: 15px;
  margin-bottom: 1px;
}
.zacit {
  background-color: #0197f6;
  height: 45px;
  padding: 15px;
}

.pravidla:hover {
  background-color: #1cbb96;
}

.uvod:hover {
  background-color: #1cbb96;
}

.zacit:hover {
  background-color: #0090e9;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  margin-top: 10px;
}

a {
  color: #ffffff;
  text-decoration: none;
  display: block;
}

p {
  line-height: 1.5em;
}

img {
  width: 100%;
}

.obrazek img {
  border-radius: 10px 10px 0 0;
}

.pravidla_cela {
  padding-top: 20px;
}

.pravidla_text {
  text-align: left;
  margin-left: 35px;
  margin-right: 35px;
}

li {
  padding-bottom: 15px;
}

.situace {
  display: block;
  padding: 15, 15, 0, 15;
}

figure {
  margin: 0px 30px 40px 30px;
}
figcaption p {
  font-style: italic;
  line-height: 1.3em;
}
.kolecko img {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}
.krizek img {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}

@media (min-width: 640px) {
  .main {
    width: 640px;
  }
  .kontejner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  figure {
    width: 45%;
    margin: 0px 0px 20px 0px;
  }
