/* nejsme vcerejsi, pouzivame moderni box model */
*,
:after,
:before {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
  background-image: linear-gradient(#615dad, #ffc8da);
  min-height: 100vh;
  padding-top: 80px;
}

.main {
  width: 350px;
  margin: auto;
  background-color: #283e50;
  border-radius: 10px 10px 0 0;
}

.piskvorky {
  padding: 15px;
}

.pravidla,.uvod {
  background-color: #1fcca4;
  height: 45px;
  padding: 15px;
  margin-bottom: 1px;
}
.zacit {
  background-color: #0197f6;
  height: 45px;
  padding: 15px;
}

.pravidla:hover {
  background-color: #1cbb96;
}

.uvod:hover,
.domu:hover {
  background-color: #1cbb96;
}

.zacit:hover,
.znovu_hrej:hover {
  background-color: #0090e9;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  margin-top: 10px;
}

a {
  color: #ffffff;
  text-decoration: none;
  display: block;
}

p {
  line-height: 1.5em;
}

img {
  width: 100%;
}

.uvodni_obrazek {
  border-radius: 10px 10px 0 0;
}

.pravidla_cela {
  padding-top: 20px;
}

.pravidla_text {
  text-align: left;
  margin-left: 35px;
  margin-right: 35px;
}

li {
  padding-bottom: 15px;
}

.rules {
  width: 350px;
  margin: auto;
  background-color: #283e50;
  border-radius: 10px 10px 0 0;
}

.situace {
  display: block;
  padding: 15, 15, 0, 15;
}

.instruction {
  margin: 0px 30px 40px 30px;
}
.text__instruction p {
  font-style: italic;
  line-height: 1.3em;
}
.kolecko img {
  width: 1em;
  height: 1em;
  filter: invert(100%);

}
.krizek img {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}
/* stylování stránky hra*/

.hra {

  max-width: 80vmin;
  margin: auto;
}

.domu, .znovu_hrej {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.domu {
  background-color: #1fcca4;
  padding: 7px;
  margin-right: 6px;
}

.znovu_hrej {
 background-color: #0197f6;
 padding: 7px;
}


.zahlavi {
  display: flex;
  align-items: center;
}

.hraje {
  flex-grow: 1;
  text-align: start;
  font-weight: bold;
  font-size: 25px;
}

.mrizka {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: space-around;


}
.mrizka button {
 flex-basis: 10%;
 aspect-ratio: 1 / 1;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.2);


}

.mrizka button:hover,
.mrizka button:hover,
.mrizka button:hover {
  background-color: rgba(255, 255, 255, 0.35);
  cursor: pointer;
}

@media (min-width: 700px) {
  .rules {
    width: 640px;
  }
  .kontejner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
  }
  .instruction {
    flex-basis: calc((100% - 20px) / 2);
    margin: 0px;
  }